
<router-outlet></router-outlet>
<!DOCTYPE html>
<html>
<head>
	<title>Planter | Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="home.component.css">

</head>

<body>
	<div>
	<div class="container">
		<a routerLink="/chosenConfig" class="btn">Current Configuration</a>
		<a routerLink="/addConfig" class="btn">Add Configuration</a>
		<a href="/sensors" class="btn">Sensors</a>
    	<a href="/plants" class="btn">Plants</a>
		<a href="/moistureGraph" class="btn">Moisture Graph</a>
	</div>
</div>
</body>
</html>
